<nav>
    {% if app.user %}
        <ul>
            <li><a href="{{ path('app_feed') }}">Feed</a></li>
            <li><a href="{{ path('app_bands') }}">Bands</a></li>
        </ul>
        <ul>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Register</a></li>
        </ul>
    {% endif %}
</nav>
