<article id="postId_{{ post.id }}">
    <header>
        <small>
            <a href="{{ path('app_feed_post', {'postId': post.id}) }}" class="secondary">
                <span>{{ post.author.username }}</span>
                <span>{{ post.createdAt|date('Y-m-d H:i:s') }}</span>
                {% if post.band is not null %}
                    <span>w {{ post.band.name }}</span>
                {% endif %}
            </a>
        </small>
    </header>
    <span>{{ post.content | link_tags | raw }}</span>
</article>