<article id="responseId_{{ response.id }}">
    <header>
        <small>
            <span>{{ response.author.username }}</span>
            <span>{{ response.createdAt|date('Y-m-d H:i:s') }}</span>
        </small>
    </header>
    {% if response.type.value == 'text' %}
        <span>{{ response.content | link_tags | raw }}</span>
    {% elseif response.type.value == 'image' %}
        <img src="{{ response.content }}" alt="Image" />
    {% elseif response.type == 'video' %}
        <video controls>
            <source src="{{ response.content }}">
            Your browser does not support the video tag.
        </video>
    {% elseif response.type.value == 'audio' %}
        <audio controls>
            <source src="{{ response.content }}">
            Your browser does not support the audio tag.
        </audio>
    {% else %}
        <span>Unsupported response type</span>
    {% endif %}
</article>