{% extends 'layout.html.twig' %}

{% block title %}Bands{% endblock %}

{% block body %}

<div>
    <!-- list of bands -->
    <div>
        {% for band in bands %}
            <div>
                <div class="band-name">
                    {{ band.name }}
                </div>
                <ul>
                    <li>
                        <a href="{{ path('app_band_show', {'id': band.id}) }}">manage</a>
                    </li>
                    <li>
                        <a href="{{ path('app_feed_band', {'bandId': band.id}) }}">feed</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>

    <!-- create band form -->
    <h3>Create band</h3>
    <form action="{{ path('app_band_create') }}" method="put">
        <input type="text" name="name" placeholder="Band Name" required>
        <input type="submit" value="Create new Band">
    </form>

    <!-- join band form -->
    <h3>Join a band</h3>
    <form action="{{ path('app_band_join') }}" method="post">
        <input type="text" name="name" placeholder="Band Name" required>
        <input type="submit" value="Join Band">
    </form>

</div>
{% endblock %}
