{% extends 'layout.html.twig' %}

{% block title %}Feed{% endblock %}

{% block body %}
<div>
    <h1>Feed</h1>
    <ul>
        {% for post in posts %}
            <div id="postId_{{ post.id }}">
                <div>
                    <a href="{{ path('app_feed_post', {'postId': post.id}) }}">
                        {% if post.band is not null %}
                            <span>({{ post.band.name }})</span>
                        {% endif %}
                        <span>{{ post.author.username }}</span>
                        <span>{{ post.createdAt|date('Y-m-d H:i:s') }}</span>
                    </a>
                </div>
                <span>{{ post.content }}</span>
                {% for tag in post.getPostTags %}
                    <span class="badge badge-info">#{{ tag.name }}</span>
                {% endfor %}
            </div>
        {% endfor %}
    </ul>

    <h2>Create a new post</h2>
    <form action="{{ createUrl }}" method="put">
        {% if band is not null %}
            <input type="hidden" name="band_id" value="{{ band.id }}">
        {% endif %}
        <div>
            <label for="content">Content:</label>
            <textarea id="content" name="content" required></textarea>
        </div>
        <button type="submit">Create Post</button>
</div>
{% endblock %}
