{% extends 'layout.html.twig' %}

{% block title %}Post {{post.author.username }} #{{ post. id }}{% endblock %}

{% block body %}
<article id="postId_{{ post.id }}">
    <div>
        <a href="{{ path('app_feed_post', {'postId': post.id}) }}">
            {% if post.band is not null %}
                <span>({{ post.band.name }})</span>
            {% endif %}
            <span>{{ post.author.username }}</span>
            <span>{{ post.createdAt|date('Y-m-d H:i:s') }}</span>
        </a>
    </div>
    <span>{{ post.content }}</span>
    {% for tag in post.getPostTags %}
        <span class="badge badge-info">#{{ tag.name }}</span>
    {% endfor %}
</article>

<section>

<p>
    {% if post.band %}
        <a href="{{ path('app_feed_band', {'bandId': post.band.id}) }}">Back to {{ post.band.name }} feed</a>
    {% else %}
        <a href="{{ path('app_feed') }}">Back to mixed feed</a>
    {% endif %}
</p>
</section>
{% endblock %}
